<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Vistas</title>
</head>
<body>
<div th:fragment="colocarHeladera">
  <div class="container mt-5">
    <h1 class="text-center">Colocar una Heladera</h1>
    <div class="card-body">
      <div th:if="${success}" class="alert alert-success text-center">
        <p>Heladera Colocada correctamente</p>
      </div>
      <form th:action="@{/colaboracion/colocarHeladera}" method="post">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text"  class="form-control" id="nombre" name="nombre" placeholder="Nombre de la heladera" required>
        </div>


        <div class="form-group">
          <label for="tempMin">Temperatura Mínima (&deg;C)</label>
          <input type="number" step="0.1" class="form-control" id="tempMin" name="tempMin" placeholder="Ejemplo: -18.5" required>
        </div>

        <div class="form-group">
          <label for="tempMax">Temperatura Máxima (&deg;C)</label>
          <input type="number" step="0.1" class="form-control" id="tempMax" name="tempMax" placeholder="Ejemplo: 5.0" required>
        </div>

        <div class="form-group">
          <label for="maxViandas">Capacidad Máxima de Viandas</label>
          <input type="number" class="form-control" id="maxViandas" name="maxViandas" placeholder="Ejemplo: 100" required>
        </div>

        <h3 class="text-center">Seleccionar Dirección</h3>
        <div class="form-group">
          <label for="direccionSelect">Direcciones Sugeridas </label>
          <select class="form-control" id="direccionSelect" name="direccionSeleccionada">
            <option th:each="direccion : ${direccionesLista}"
                    th:value="${direccion.id}"
                    th:text="'Direccion: ' + ${direccion.calle} + ' ' + ${direccion.numero} + ', ' + ${direccion.localidad} + ' (' + ${direccion.coordenadas.latitud} + ', ' + ${direccion.coordenadas.longitud} + ')'">
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear Heladera</button>
      </form>
    </div>
  </div>
</div>
<div th:fragment="hacerseCargoHeladera" class="container mt-5">
  <h1 th:unless="${heladeraList.isEmpty()}" class="text-center">Hacerse cargo de una Heladera</h1>
  <div class="card-body">
    <div th:if="${success}" class="alert alert-success text-center">
      <p>Heladera Tomada Correctamente</p>
    </div>
  </div>
  <div th:if="${heladeraList.isEmpty()}">
    <h1 class="text-center">No Hay heladeras Sin Dueño</h1>
  </div>
  <form th:unless="${heladeraList.isEmpty()}" th:action="@{/colaboraciones/hacerseCargoHeladera}" method="post">
    <div class="form-group">
      <label for="heladeraSelect">Heladeras</label>
      <select class="form-control" id="heladeraSelect" name="heladeraSelect">
        <option th:each="heladera : ${heladeraList}"
                th:value="${heladera.id}"
                th:text="${heladera.nombre} 'Coordenadas, Latitud: '+ ${heladera.direccion.coordenadas.latitud} + ', Altitud: ' + ${heladera.direccion.coordenadas.longitud} + ')'">
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear Heladera</button>
  </form>
</div>
<div th:fragment="donacionDinero" class="container mt-5">
  <h1 th:unless="${frecuenciaList.isEmpty()}" class="text-center">Haga su donación</h1>
  <div class="card-body">
    <div th:if="${success}" class="alert alert-success text-center">
      <p>Donacion Realizada Correctamente</p>
    </div>
  </div>

  <form th:unless="${frecuenciaList.isEmpty()}" th:action="@{/colaboracion/donacionDinero}" method="post">
    <div class="form-group">
      <label for="dinero">Dinero</label>
      <input type="number" step="0.01"  class="form-control" id="dinero" name="dinero" placeholder="Cantidad de dinero" required>
    </div>
    <div class="form-group">
      <label for="frecuenciaSelect">Frecuencia con la que desea realizar la donacion</label>
      <select class="form-control" id="frecuenciaSelect" name="frecuenciaSeleccionada">
        <option th:each="frecuencia : ${frecuenciaList}"
                th:value="${frecuencia.name()}"
                th:text="${frecuencia.name()} ">
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Donar Dinero</button>
  </form>
</div>
<div th:fragment="donacionVianda">
  <h2 class="text-2xl font-bold mb-6">Donar Viandas</h2>

  <!-- Selección de Heladera -->
  <div>
    <label for="heladera" class="block text-sm font-medium text-gray-700">Heladera</label>
    <select id="heladera" required
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      <option th:each="heladera : ${heladeraList}"
              th:value="${heladera.id}"
              th:text="${heladera.nombre}"></option>
    </select>
  </div>

  <!-- Contenedor de Viandas -->
  <div id="viandaContainer">
    <div class="vianda-item border rounded-lg p-4 space-y-4 mb-4" th:each="vianda, stat : ${viandas}">
      <h3 class="text-lg font-medium">Vianda <span th:text="${stat.index + 1}"></span></h3>

      <!-- Comida -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Comida</label>
        <input type="text" class="comida mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" required>
      </div>

      <!-- Fecha de Caducidad -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Fecha de Caducidad</label>
        <input type="date" class="fechaCaducidad mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" required>
      </div>

      <!-- Calorías -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Calorías</label>
        <input type="number" class="calorias mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" step="0.01" required>
      </div>

      <!-- Peso -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Peso (en gramos)</label>
        <input type="number" class="peso mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" step="0.01" required>
      </div>

      <!-- Botón para eliminar vianda -->
      <button type="button"
              class="w-full inline-flex justify-center rounded-md btn btn-danger"
              onclick="removeVianda(this)">
        Eliminar Vianda
      </button>
    </div>
  </div>

  <!-- Botón para agregar otra vianda -->
  <div>
    <button type="button" id="addVianda" onclick="agregarVianda()"
            class="w-full inline-flex justify-center btn btn-succes">
      Agregar Otra Vianda
    </button>
  </div>
<br>
  <!-- Botón para enviar la donación -->
  <div>
    <button type="button" onclick="enviarDonacion()"
            class="w-full inline-flex justify-center rounded-md btn-primary">
      Donar Viandas
    </button>
  </div>
</div>
<div th:fragment="ofrecerServicio"
>
  <form action="/colaboracion/ofrecerServicio" method="post" enctype="multipart/form-data">
    <div>
      <label for="nombreServicio">Nombre de la oferta:</label>
      <input type="text" id="nombreServicio" name="nombreServicio" required>
    </div>

    <div>
      <label for="rubro">Rubro del servicio:</label>
      <select name="rubro" id="rubro" required
              class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        <option th:each="rubroServicio : ${rubroServicioList}"
                th:value="${rubroServicio.name()}"
                th:text="${rubroServicio.name()}"></option>
      </select>
    </div>

    <div>
      <label for="puntosRequeridos">Puntos requeridos:</label>
      <input type="number" step="0.1" id="puntosRequeridos" name="puntosRequeridos" required>
    </div>

    <div>
      <label for="imagen">Seleccionar imagen:</label>
      <input type="file" id="imagen" name="imagen" accept="image/*" required>
    </div>

    <div>
      <label for="coeficienteServicio">Coeficiente:</label>
      <input type="number" step="0.1" id="coeficienteServicio" name="coeficienteServicio" required>
    </div>

    <div>
      <button type="submit">Ofrecer Servicio</button>
    </div>
  </form>

</div>

</body>
</html>