<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div th:fragment="menuprincipal(username)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Opción común para todos los roles -->
        <a class="navbar-brand" th:href="@{/home}">Sistema de Gestión de Alimentos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Grupo desplegable para colaborador físico -->
                <li class="nav-item dropdown" th:if="${rol == 'COLABORADOR_FISICO'}">
                    <a class="nav-link dropdown-toggle" href="#" id="colaborarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Colaborar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="colaborarDropdown">
                        <a class="dropdown-item" href="#" onclick="cargarVista('colocarHeladera')">Colocar Heladera</a>
                        <a class="dropdown-item" href="#" onclick="cargarVista('hacerseCargoHeladera')">Hacerse Cargo Heladera</a>
                        <a class="dropdown-item" href="#" onclick="cargarVista('donacionDinero')">Donación Dinero</a>
                        <a class="dropdown-item" href="#" onclick="cargarVista('donacionVianda')">Donación Vianda</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${rol == 'COLABORADOR_JURIDICO'}">
                    <a class="nav-link" th:href="@{/colaborador/dashboard}">Dashboard Colaborador JURIDICO</a>
                    <a class="nav-link" href="#" onclick="cargarVista('opcion2')">Opción 2</a>
                </li>
                <li class="nav-item" th:if="${rol == 'TECNICO'}">
                    <a class="nav-link" th:href="@{/tecnico/dashboard}">Dashboard Técnico</a>
                </li>
                <li class="nav-item" th:if="${rol == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard Admin</a>
                    <a class="nav-link" href="#" onclick="cargarVista('opcion3')">Opción 3</a>
                </li>
                <!-- Mostrar el nombre del usuario para entrar al panel de sus datos -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"><span th:text="${username}"></span></a>
                </li>

                <!-- Link de logout común a todos -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</div>



</body>
</html>