<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div th:fragment="menuprincipal(username)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Opción común para todos los roles -->
        <a class="navbar-brand" th:href="@{/home}">Sistema de Gestión de Alimentos</a>

        <!-- NO borrar esto: aca va el menu desplegable -->
        <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav d-flex flex-row gap-3">
                <li class="nav-item dropdown" th:if="${rol == 'COLABORADOR_FISICO'}">
                    <a class="nav-link dropdown-toggle" href="#" id="colaborarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Colaborar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="colaborarDropdown">
                        <a class="dropdown-item" href="#" onclick="cargarVista('colocarHeladera')">Colocar Heladera</a>
                        <a class="dropdown-item" href="#" onclick="cargarVista('hacerseCargoHeladera')">Hacerse Cargo Heladera</a>
                        <a class="dropdown-item" href="#" onclick="cargarVista('donacionDinero')">Donación Dinero</a>
                        <a class="dropdown-item" href="#" onclick="cargarVista('donacionVianda')">Donación Vianda</a>
                    </div>
                </li>
                <li class="nav-item me-3" th:if="${rol == 'COLABORADOR_JURIDICO'}">
                    <a class="nav-link" th:href="@{/colaborador/dashboard}">Dashboard Colaborador JURIDICO</a>
                    <a class="nav-link" href="#" onclick="cargarVista('opcion2')">Opción 2</a>
                </li>
                <li class="nav-item me-3" th:if="${rol == 'TECNICO'}">
                    <a class="nav-link" th:href="@{/tecnico/dashboard}">Dashboard Técnico</a>
                </li>
                <li class="nav-item me-3" th:if="${rol == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard Admin</a>
                    <a class="nav-link" href="#" onclick="cargarVista('opcion3')">Opción 3</a>
                </li>
            </ul>
        </div>

        <!-- Menú de usuario alineado a la derecha -->
        <div class="user-menu-container ml-3">
            <div th:text="${#strings.toUpperCase(username.substring(0,1))}" class="user-initial"></div>
            <div class="user-menu">
                <div class="dropdown-header" th:text="${username}"></div>
                <a class="dropdown-item" href="#">Mi Perfil</a>
                <a class="dropdown-item text-muted" th:href="@{/logout}">Cerrar sesión</a>
            </div>
        </div>
    </nav>
</div>



</body>
</html>