<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestión de Alimentos</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<header>
    <!--TODO: según el rol pasado por parámetro cargar un menú distinto -->
    <div th:insert="~{fragments/menu :: menuprincipal(${username})}"></div>
</header>
<body>
    <div class="container mt-5">
        <!-- Centrar texto usando las clases text-center y mt-5 para margen superior -->
        <h1 class="text-center">Bienvenido/a al Sistema de Gestión de Alimentos</h1>
        <p class="text-center mt-3">Este es el contenido compartido que se muestra a todos los usuarios
            (podría ser un mapa de las heladeras informando ubicación, capacidad, viandas, estado, etc.)
        </p>
    </div>
    <!-- ejemplo if:  <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" -->
    <div class="container mt-5" id="dynamic-content">
        <!-- opcion 2: <div th:insert="~{fragments/opciones :: ${fragmento}}"></div> -->
        <div th:insert="~{fragments/map :: mapBody(lat=${lat}, lon=${lon})}"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
<!-- analizar
<script>
    // opcion 1:
    function loadContent(url) {
        fetch(url)
            .then(response => response.text())
            .then(data => {
                document.getElementById("dynamic-content").innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el contenido:', error));
    }

    // opcion 2:
    function cargarFragmento(nombreFragmento) {
        window.location.href = '/home?fragmento=' + nombreFragmento;
    }
</script>
-->