<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Heladera</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
        <div th:insert="~{fragments/menu :: menuprincipal(${username})}"></div>
</header>
<body>
<div class="container mt-5">
    <h1 class="text-center">Colocar una Heladera</h1>
    <div class="card-body">
        <div th:if="${success}" class="alert alert-success text-center">
            <p>Heladera Colocada correctamente</p>
        </div>
    <form th:action="@{/colaboracion/colocarHeladera}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text"  class="form-control" id="nombre" name="nombre" placeholder="Nombre de la heladera" required>
        </div>


        <div class="form-group">
            <label for="tempMin">Temperatura Mínima (&deg;C)</label>
            <input type="number" step="0.1" class="form-control" id="tempMin" name="tempMin" placeholder="Ejemplo: -18.5" required>
        </div>

        <div class="form-group">
            <label for="tempMax">Temperatura Máxima (&deg;C)</label>
            <input type="number" step="0.1" class="form-control" id="tempMax" name="tempMax" placeholder="Ejemplo: 5.0" required>
        </div>

        <div class="form-group">
            <label for="maxViandas">Capacidad Máxima de Viandas</label>
            <input type="number" class="form-control" id="maxViandas" name="maxViandas" placeholder="Ejemplo: 100" required>
        </div>

        <h3 class="text-center">Seleccionar Dirección</h3>
        <div class="form-group">
            <label for="direccionSelect">Direcciones Sugeridas </label>
            <select class="form-control" id="direccionSelect" name="direccionSeleccionada">
                <option th:each="direccion : ${direccionesLista}"
                            th:value="${direccion.id}"
                            th:text="'Direccion: ' + ${direccion.calle} + ' ' + ${direccion.numero} + ', ' + ${direccion.localidad} + ' (' + ${direccion.coordenadas.latitud} + ', ' + ${direccion.coordenadas.longitud} + ')'">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear Heladera</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
